

  <button id="delete-agenda-btn" type="button" class="btn btn-default btn-sm" confirmed-click="vm.deleteAgenda()" confirm-click="Are you sure to delete all contacts in agenda?">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Agenda
  </button>



<div>

    <h1>{{vm.username}}'s Agenda</h1>

  </br>

  <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">

      <div ng-if="vm.contacts.length > 0">
        <h4>Search: <input ng-model="vm.search.$"></h4>
      </div>

  </div>
  </br>
  <table class="table table-bordered">
    <tr>
      <th>
        Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Email
      </th>
      <th>
        Country
      </th>
      <th>
        &nbsp;
      </th>
    </tr>

    <tr>

      <td>
        <form name="nameForm">
          <input
            class="form-control"
            type="text"
            name="name"
            placeholder="Name"
            ng-model="vm.contact.name"
            required>

        </form>
        <div ng-messages="nameForm.name.$error">
            <div ng-messages-include="components/form-validation/text-input-messages.html"></div>
        </div>
      </td>
      <td>
        <form name="lastnameForm">
          <input
            class="form-control"
            type="text"
            name="lastname"
            placeholder="Last Name"
            ng-model="vm.contact.lastname"
            required>
        </form>
        <div ng-messages="lastnameForm.lastname.$error">
            <div ng-messages-include="components/form-validation/text-input-messages.html"></div>
        </div>
      </td>
      <td>
        <form name="emailForm">
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="Email"
            ng-model="vm.contact.email"
            required>
        </form>
        <div ng-messages="emailForm.email.$error">
            <div ng-messages-include="components/form-validation/email-input-messages.html"></div>
        </div>
      </td>
      <td>
        <ui-select id="country" for="country" name="country" ng-model="vm.contact.country" theme="bootstrap" ng-disabled="disabled" style="width: 300px;" title="Choose a country" required>
          <ui-select-match placeholder="Choose country..." required>{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat=" country in vm.countries | filter:$select.search">
            {{country.name}} - {{country.code}}
          </ui-select-choices>
        </ui-select>
        <div ng-if="!vm.contact.country.name" >
            <p >This field is required.</p>
        </div>
      </td>
      <td>
        <button id="save-contact-btn" type="button" class="btn btn-default btn-sm" ng-disabled="vm.formValidation()" ng-click="vm.addContact( )">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save
        </button>
      </td>

    </tr>

    <tr ng-repeat="contact in vm.filterList | orderBy:contact.lastname | start: (vm.pagination.currentPage - 1) * vm.pagination.numPerPage | limitTo: vm.pagination.numPerPage track by contact.email">
        <td ng-if="(vm.editable != contact.email )">
          {{contact.name}}
        </td>
        <td ng-if="(vm.editable != contact.email )">
          {{contact.lastname}}
        </td>
        <td ng-if="(vm.editable != contact.email )">
          {{contact.email}}
        </td>
        <td ng-if="(vm.editable != contact.email )">
          {{contact.country.name}}-{{contact.country.code}}
        </td>
        <td ng-if="(vm.editable != contact.email )">
            <button type="button" id="edit-contact-btn" class="btn btn-default btn-sm"  ng-click="vm.editContact( contact.email )">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </button>
            <button type="button" id="remove-contact-btn" class="btn btn-default btn-sm" confirmed-click="vm.removeContact( contact.email )" confirm-click="Are you sure to delete this contact: {{ contact.email }} ?">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
            </button>
        </td>

        <td ng-if="(vm.editable === contact.email )">
           <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Name"
              ng-model="vm.contact.name"
              required>

          <div ng-messages="userForm.name.$error">
              <div ng-messages-include="components/form-validation/text-input-messages.html"></div>
          </div>
        </td>
        <td ng-if="(vm.editable === contact.email )">
          <input
              class="form-control"
              type="text"
              name="lastname"
              placeholder="Last Name"
              ng-model="vm.contact.lastname"
              required>

          <div ng-messages="userForm.lastname.$error">
              <div ng-messages-include="components/form-validation/text-input-messages.html"></div>
          </div>
        </td>
        <td ng-if="(vm.editable === contact.email )">
          <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Email"
              ng-model="vm.contact.email"
              required>

          <div ng-messages="userForm.email.$error">
              <div ng-messages-include="components/form-validation/email-input-messages.html"></div>
          </div>
        </td>
        <td ng-if="(vm.editable === contact.email )">
          <ui-select id="country" for="country" name="country" ng-model="vm.contact.country" theme="bootstrap" ng-disabled="disabled" style="width: 300px;" title="Choose a country" required>
            <ui-select-match placeholder="Choose country..." required>{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat=" country in vm.countries | filter:$select.search">
              {{country.name}} - {{country.code}}
            </ui-select-choices>
          </ui-select>
          <div ng-if="!vm.contact.country.name" >
              <p >This field is required.</p>
          </div>
        </td>
        <td ng-if="(vm.editable === contact.email )">
          <button type="button" id="edit-save-contact-btn" class="btn btn-default btn-sm" ng-disabled="vm.formValidation()" ng-click="vm.editSave( contact.email )">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Save
          </button>
          <button type="button" id="edit-cancel-contact-btn" class="btn btn-default btn-sm" ng-click="vm.editCancel( contact.email )">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
          </button>
        </td>
    </tr>
  </table>

<!--    <pagination total-items="vm.contacts.length" items-per-page="vm.numPerPage" ng-model="vm.currentPage" max-size="5" class="pagination-sm"></pagination> -->

    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
      <uib-pagination
        boundary-links="true"
        total-items="vm.filterList.length"
        items-per-page="vm.pagination.numPerPage"
        ng-model="vm.pagination.currentPage"
        class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>

</div>
